{% extends "html/meta/detail_page.html" %}

{% load staticfiles %}

{% block title %}修改密码{% endblock %}

{% block pageheader %}
<div class="container">
    <div class="row">
        <div>
            <h1>&nbsp;&nbsp;欢迎,&nbsp;&nbsp;
                {%if user_info.firstname and user_info.lastname%}
                <small>{{ user_info.lastname}}&nbsp;{{user_info.firstname}}</small>
                {% else %}
                <small>{{ user_info.username }}</small>
                {% endif %}
            </h1>
        </div>
    </div>
</div>
{% endblock %}

{% block nav-left-items %}
<li class="nav-item">
    <a class="nav-link" href="{%url 'personal'%}">个人信息</a>
</li>
<li class="nav-item">
    <a class="nav-link active">修改密码</a>
</li>
{% endblock %}
{% block form %}
<form id="pwdform" onsubmit="return false;">
    <div class="form-group">
        <label for="oldpwd">旧密码：</label>
        <input type="password" class="form-control" id="oldpwd" required/>
    </div>
    <div class="form-group">
        <label for="newpwd">新密码：</label>
        <input type="password" class="form-control" id="newpwd" required/>
    </div>
    <div class="form-group">
        <label for="renewpwd">重复新密码：</label>
        <input type="password" class="form-control" id="renewpwd" required/>
    </div>
    <input type="text" id="username" value='{{user_info.username}}' hidden/>

    <div class="form-group pull-xs-right">
        <input type="submit" id="submit" class="btn btn-primary" value="提交">
    </div>
</form>
{% endblock %}
{%block script%}
<script src='{% static "js/password.js" %}'></script>
{%endblock%}