{% extends "html/meta/problem_page.html" %}
{% block title %}题元详情{% endblock %}
{% load staticfiles %}
{%block css%}
<style>
    table.data_table th
    {
        text-align:center;
    }
</style>
{%endblock%}
{% block pageheader %}
<div class="container">
    <div class="row">
        <div><h2>题元详情{{meta_id}}</h2></div>
    </div>
</div>
{% endblock%}
{%block left-one-nav%}
<div id="collapseOne" class="panel-collapse collapse in">
    <div class="panel-body">
        <li class="nav-link">
            <a class="nav-link active">题元显示</a>
        </li>
        <li class="nav-link">
            <a class="nav-link" href="{%url 'problem-add'%}">题元添加</a>
        </li>
        <li class="nav-link">
            <a class="nav-link" id="nav_a_modify" href="">题元修改</a>
        </li>
    </div>
</div>
{% endblock%}
{%block body%}
<nav role="navigation">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#detail" role="tab">详细信息</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#description" role="tab" id="a_description">描述详情</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#sample" role="tab" id="a_sample">样例详情</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#test_data" role="tab" id="a_test_data">测试数据详情</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#problem" role="tab" id="a_problem">问题列表</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="detail" role="tabpanel">
            <p id="meta_id_hidden" hidden>{{meta_id}}</p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        <center>名称</center>
                    </th>
                    <th>
                        <center>属性</center>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>题目</th>
                    <td id="title"></td>
                </tr>
                <tr>
                    <th>Id</th>
                    <td id="id"></td>
                </tr>
                <tr>
                    <th>Source</th>
                    <td id="source"></td>
                </tr>
                <tr>
                    <th>Author</th>
                    <td id="author"></td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td id="status"></td>
                </tr>
                <tr>
                    <th>Introduction</th>
                    <td id="introduction"></td>
                </tr>
                <tr>
                    <th>Number_description</th>
                    <td id="N_description"></td>
                </tr>
                <tr>
                    <th>Number_sample</th>
                    <td id="N_sample"></td>
                </tr>
                <tr>
                    <th>Number_test_data</th>
                    <td id="N_test_data"></td>
                </tr>
                <tr>
                    <th>Number_problem</th>
                    <td id="N_problem"></td>
                </tr>
                </tbody>
            </table>
        </div>


        <div class="tab-pane" id="description" role="tabpanel">
            <div class="row pull-xs-right">
                <button id="d_add" class="btn btn-outline-info" data-toggle="modal" data-target="#des_Modal" style="margin: 10px;margin-right: 100px">添加</button>
            </div>
            <table id="des_table" class="data_table display table table-bordered">
                <thead>

                <tr>
                    <th>Title</th>
                    <th>status</th>
                    <th>Introduction</th>
                    <th>Description_id</th>
                    <th>Meta_problem</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tfoot>
                </tfoot>

                <tbody>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="sample" role="tabpanel">
            <div class="row pull-xs-right">
                <button id="s_add" data-toggle="modal" data-target="#sam_Modal" class="btn btn-outline-info" style="margin: 10px;margin-right: 100px">添加</button>
            </div>
            <table id="sample_table" class="data_table display table table-bordered">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>status</th>
                    <th>Introduction</th>
                    <th>Sample_id</th>
                    <th>Meta_problem</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tfoot>
                </tfoot>

                <tbody>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="test_data" role="tabpanel">
            <div class="row pull-xs-right">
                <button id="t_add" data-toggle="modal" data-target="#test_Modal" class="btn btn-outline-info" style="margin: 10px;margin-right: 100px">添加</button>
            </div>
            <table id="test_data_table" class="data_table display table table-bordered">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>status</th>
                    <th>Introduction</th>
                    <th>Test_id</th>
                    <th>Meta_problem</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tfoot>
                </tfoot>

                <tbody>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="problem" role="tabpanel">
        <div class="row pull-xs-right">
          <button class="btn btn-outline-info" style="margin: 10px;margin-right: 100px" onclick="javascript:window.location.href='/pro-add?id='+{{meta_id}}">添加</button>
        </div>
        <table id="problem_table" class="data_table display table table-bordered" >
            <thead>
            <tr>
            <th>title</th>
            <th>status</th>
            <th>introduction</th>
            <th>id</th>
            <th>source</th>
            <th>author</th>
            <th>操作</th>
            </tr>
            </thead>
            <tfoot>

            </tfoot>
            <tbody>
            </tbody>
            <!-- title ,id ,-->
        </table>
        </div>
    </div>
</nav>
{%endblock%}
{% block Modle%}
    <!--描述的模态框-->
<div class="modal fade" id="des_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Description</h4>
      </div>
      <form>
      <div class="modal-body">
      <div class="form-group row">
        <label class="col-sm-2 form-control-label">Title</label>
        <div class="col-sm-10">
          <input type="text" id="d_title" class="form-control" required="required">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 form-control-label">Introduction</label>
        <div class="col-sm-10">
          <input type="text" id="d_introduction" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 form-control-label">Status</label>
        <div class="col-sm-10">
          <select class="form-control" id="d_status">
            <option value="1">available</option>
            <option value="0">unavailable</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 form-control-label">Content</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="d_content"></textarea>
        </div>
      </div>
      </div>
      <div class="modal-footer">
        <button id="d_save" type="button" class="btn btn-primary">保存</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
      </div>
      </form>
    </div>
  </div>
</div>
    <!--样例的模态框-->
<div class="modal fade" id="sam_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button id="hide" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="s_header">Sample</h4>
      </div>
      <form>
      <div class="modal-body">
          <div class="form-group row">
              <label class="col-sm-2 form-control-label">Title</label>
              <div class="col-sm-10">
                  <input type="text" id="s_title" class="form-control" required="required">
              </div>
          </div>
          <div class="form-group row">
              <label class="col-sm-2 form-control-label">Introduction</label>
              <div class="col-sm-10">
                  <input type="text" id="s_introduction" class="form-control">
              </div>
          </div>
          <div class="form-group row">
              <label class="col-sm-2 form-control-label">Status</label>
              <div class="col-sm-10">
                  <select class="form-control" id="s_status">
                      <option value="1">available</option>
                      <option value="0">unavailable</option>
                  </select>
              </div>
          </div>
          <div class="form-group row">
              <label class="col-sm-2 form-control-label">Content</label>
              <div class="col-sm-10">
                  <textarea id="s_content" class="form-control"></textarea>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button id="s_save" type="button" class="btn btn-primary">保存</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
      </div>
      </form>
    </div>
  </div>
</div>
    <!--测试数据的模态框-->
<div class="modal fade" id="test_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Test</h4>
      </div>
      <form>
      <div class="modal-body">
      <div class="form-group row">
        <label class="col-sm-2 form-control-label">Title</label>
        <div class="col-sm-10">
          <input type="text" id="t_title" class="form-control" required="required">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 form-control-label">Introduction</label>
        <div class="col-sm-10">
          <input type="text" id="t_introduction" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 form-control-label">Status</label>
        <div class="col-sm-10">
          <select class="form-control" id="t_status">
            <option value="1">available</option>
            <option value="0">unavailable</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 form-control-label">Test in</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="test_in"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 form-control-label">Test out</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="test_out"></textarea>
        </div>
      </div>
      </div>
      <div class="modal-footer">
        <button id="t_save" type="button" class="btn btn-primary">保存</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script src='{% static "js/problem-detail/detail.js" %}'></script>
<script src='{% static "js/problem-detail/description.js" %}'></script>
<script src='{% static "js/problem-detail/sample.js" %}'></script>
<script src='{% static "js/problem-detail/test_data.js" %}'></script>
<script src='{% static "js/problem-detail/problems-list.js" %}'></script>
{% endblock %}