{% extends "html/meta/problem_page.html" %}

{% load staticfiles %}
{%block css%}
{%endblock%}
{% block pageheader %}
<div class="container">
    <div class="row">
        <div><h2>题元添加</h2></div>
    </div>
</div>
{% endblock %}
{%block left-one-nav%}
<div id="collapseOne" class="panel-collapse collapse in">
    <div class="panel-body">
        <li class="nav-link">
            <a class="nav-link " href="{%url 'problem'%}">题元显示</a>
        </li>
        <li class="nav-link">
            <a class="nav-link active">题元添加</a>
        </li>
        <li class="nav-link">
            <a class="nav-link" readonly="true" style="color: #a2afc8">题元修改</a>
        </li>
    </div>
</div>
{% endblock %}
{% block form%}
<form onsubmit="return false;">
    <div class="form-group">
        <label for="title">Title：</label>
        <input type="text" class="form-control" id="title" value="">
    </div>
    <div class="form-group">
        <label for="id">Id：</label>
        <input type="text" class="form-control" id="id" value="">
    </div>
    <div class="form-group">
        <label for="source">Source：</label>
        <input type="text" class="form-control" id="source" value="">
    </div>
    <div class="form-group">
        <label for="status">Status：</label>
        <select class="form-control" id="status">
            <option>available</option>
            <option>unavailable</option>
        </select>
    </div>
    <div class="form-group">
        <label for="author">Author：</label>
        <input type="text" class="form-control" id="author" value="">
    </div>
    <div class="form-group">
        <label for="introduction">Introduction:</label>
        <textarea class="form-control" value="" id="introduction" rows="4"></textarea>
    </div>
    <div class="form-group pull-xs-right">
        <button class="btn btn-primary" id="maketrue">确定</button>
        <button class="btn btn-primary" id="cancel">取消</button>
    </div>
</form>
{% endblock %}
{% block script %}
<script src='{% static "js/problem-add.js" %}'>
</script>
{% endblock %}