{% extends "api_meta.html" %}

{% load staticfiles %}
{% load i18n %}
{% load rest_framework %}

{% block title %}
{% if style != 'list' %}
题目详情 - SDUSTOJ API
{% else %}
题目列表 - SDUSTOJ API
{% endif %}
{% endblock %}

{% block body %}
{% if True %}
{% if style != 'list' %}
<h1>题目 {{ results.id }} - {{ results.title }}</h1>
<table class="am-table .am-table-striped .am-table-hover .am-scrollable-horizontal .am-text-nowrap">
  <tbody>
    <tr>
      <th>简介</th>
      <td><pre>{{ results.introduction }}</pre></td>
    </tr>
    <tr>
      <th>评测方式</th>
      <td>
      {% if results.test_type == 'normal' %}
        标准评测
      {% elif results.test_type == 'specoalJudge' %}
        特殊评测
      {% elif results.test_type == 'ignBlank' %}
        非空白符评测
      {% elif results.test_type == 'ignPunct' %}
        非标点符评测
      {% else %}
        未知
      {% endif %}
      </td>
    </tr>
    <tr>
      <th>题意描述</th>
      <td>
        {% if results.description %}
        <pre id="p-d">加载中...</pre>
        {% else %}
        --
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>样例描述</th>
      <td>
        {% if results.sample %}
        <pre id="p-s">加载中...</pre>
        {% else %}
        --
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>创建者</th>
      <td>{{ results.creator }}</td>
    </tr>
    <tr>
      <th>创建时间</th>
      <td>{{ results.create_time }}</td>
    </tr>
    <tr>
      <th>最后更新</th>
      <td>{{ results.updater }}</td>
    </tr>
    <tr>
      <th>最后更新时间</th>
      <td>{{ results.update_time }}</td>
    </tr>
    <tr>
      <th>来源</th>
      <td>{{ results.source }}</td>
    </tr>
    <tr>
      <th>原作者</th>
      <td>{{ results.author }}</td>
    </tr>
  </tbody>
</table>
<!-- Submission Modal -->
<div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="submitModalLabel">Submit</h4>
      </div>
      <form action="/api-server/submissions/" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
        <div class="modal-body">
          <fieldset>
            {% csrf_token %}
            <div class="form-group ">
              <label class="col-sm-2 control-label">代码</label>
              <div class="col-sm-10">
                <textarea name="code" class="form-control"  ></textarea>
              </div>
            </div>
            <div class="form-group" hidden>
              <label class="col-sm-2 control-label ">Problem</label>
              <div class="col-sm-10">
                <input value="{{ results.id }}" name="problem">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label ">语言</label>
              <div class="col-sm-10">
                <select class="form-control" name="environment" id="language-choices">
                </select>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% else %}
<table class="am-table .am-table-striped .am-table-hover .am-scrollable-horizontal .am-text-nowrap">
    <thead>
        <tr>
            <th>ID</th>
            <th>标题</th>
            <th>简介</th>
            <th>评测方式</th>
            <th>来源/作者</th>
            <th>创建/更新时间</th>
        </tr>
    </thead>
    <tbody>
    {% for i in results %}
        <tr>
            <td><a href="/api-server/problems/{{ i.id }}/">{{ i.id }}</a></td>
            <td><a href="/api-server/problems/{{ i.id }}/">{{ i.title }}</a></td>
            <td><pre>{{ i.introduction }}</pre></td>
            <td>
              {% if i.test_type == 'normal' %}
                标准评测
              {% elif i.test_type == 'ignBlank' %}
                非空白符评测
              {% elif i.test_type == 'ignPunct' %}
                非标点符评测
              {% else %}
                未知
              {% endif %}
            </td>
            <td>
              <p>{{ i.source }}</p>
              <p>{{ i.author }}</p>
            </td>
            <td>
                <p>{{ i.create_time }}</p>
                <p>{{ i.update_time }}</p>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create</h4>
      </div>
      <form action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
        <div class="modal-body">
          <fieldset>
            {% csrf_token %}
            {{ post_form }}
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}
{% endif %}
{% endblock %}

{% block cur %}
{% if style != 'list' %}
题目
{% else %}
题目集
{% endif %}
{% endblock %}

{% block cur_nav %}
<li><a {% if style == 'list' %}class="btn btn-primary"{% endif %} href="/api-server/problems/?ordering=id">浏览题目</a></li>
{% if style != 'list' %}
<li><a {% if style != 'list' %}class="btn btn-primary"{% endif %} href="/api-server/problems/{{ results.id }}/">题目详情</a></li>
<li><a href="/api-server/problems/{{ results.id }}/limits/">编程限制集</a></li>
<li><a href="/api-server/problems/{{ results.id }}/invalid-words/" id="pro-i">非法单词集</a></li>
<li><a href="/api-server/problems/{{ results.id }}/test-data/">选用测试数据集</a></li>
<li><a href="/api-server/problems/{{ results.id }}/special-judge/">添加特殊评测</a></li>
<li><a type="button" data-toggle="modal" data-target="#submitModal">提交程序</a></li>
{% endif %}
{% endblock %}

{% block buttons %}
<button type="button" class="button-form btn btn-primary" data-toggle="modal" data-target="#createNewModal">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 创建题目
</button>

<div class="modal fade" id="createNewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myNewModalLabel">创建题目</h4>
      </div>
      <form id="new-problem-form" action="/api-server/new-problems/" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
        <div class="modal-body">
          <fieldset>
            {% csrf_token %}
            <div class="form-group ">
              <label class="col-sm-2 control-label ">描述</label>
              <div class="col-sm-10">
                <textarea name="description" class="form-control"  ></textarea>
              </div>
            </div>
            <div class="form-group ">
              <label class="col-sm-2 control-label ">样例</label>
              <div class="col-sm-10">
                <textarea name="sample" class="form-control"  ></textarea>
              </div>
            </div>
            <div class="form-group ">
              <label class="col-sm-2 control-label ">标题</label>
              <div class="col-sm-10">
                <input name="title" class="form-control" type="text"  >
              </div>
            </div>
            <div class="form-group ">
              <label class="col-sm-2 control-label ">简介</label>
              <div class="col-sm-10">
                <input name="introduction" class="form-control" type="text"  >
              </div>
            </div>
            <div class="form-group ">
              <label class="col-sm-2 control-label ">来源</label>
              <div class="col-sm-10">
                <input name="source" class="form-control" type="text"  >
              </div>
            </div>
            <div class="form-group ">
              <label class="col-sm-2 control-label ">作者</label>
              <div class="col-sm-10">
                <input name="author" class="form-control" type="text"  >
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label ">状态</label>
              <div class="col-sm-10">
                <select class="form-control" name="status">
                  <option value="1"  >可用</option>
                  <option value="0"  >不可用</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label ">评测类型</label>
              <div class="col-sm-10">
                <select class="form-control" name="test_type">
                  <option value="normal"  >标准评测</option>
                  <option value="ignBlank"  >非空白符比对</option>
                  <option value="ignPunct"  >非标点比对</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">编程限制</label>
              <div class="col-sm-10">
                <div id="limits">
                  <div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">环境</label>
                      <div class="col-sm-10">
                        <select class="form-control limits-env" name="environment" id="s-env">
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label ">时间</label>
                      <div class="col-sm-10">
                        <input name="time_limit" class="form-control" type="number"  >
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label ">内存</label>
                      <div class="col-sm-10">
                        <input name="memory_limit" class="form-control" type="number"  >
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label ">长度</label>
                      <div class="col-sm-10">
                        <input name="length_limit" class="form-control" type="number"  >
                      </div>
                    </div>
                    <div class="form-group">
                      <a class="btn btn-danger pull-right delete-limit">删除此限制↑</a>
                    </div>
                    <br>
                  </div>
                </div>
                <a class="btn btn-primary" id="new-limit">添加编程限制</a>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="new-problem-btn">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  {% if style != 'list' %}
  $.ajax({
    type: 'GET',
    url: '/api-server/problems/{{ results.id }}/limits/',
    dataType: 'json',
    success: function(response) {
      for(var i = 0; i < response.results.length; ++i) {
        limit = response.results[i]
        value = limit.environment
        language = limit.language
        $('#language-choices').append('<option value='+value+'>'+language+'</option>')
      }
    }
  })

  {% if results.description %}
  $.ajax({
    type: 'GET',
    url: '/api-server/problems/{{ results.id }}/description/',
    dataType: 'json',
    success: function(response) {
      $('#p-d').text(response.content)
    }
  })
  {% else %}
  $('#p-d').text('--')
  {% endif %}

  {% if results.sample %}
  $.ajax({
    type: 'GET',
    url: '/api-server/problems/{{ results.id }}/sample/',
    dataType: 'json',
    success: function(response) {
      $('#p-s').text(response.content)
    }
  })
  {% else %}
  $('#p-s').text('--')
  {% endif %}
  {% endif %}

  var selection = ""
  $.ajax({
    type: 'GET',
    url: '/api-server/environments/',
    dataType: 'json',
    success: function(response) {
      results = response.results
      for(var i = 0; i != results.length; ++i) {
        env = results[i]
        selection += '<option value="'+env.eid+'">'+env.language+'</option>'
      }
      $('#s-env').append(selection)
      var append = '<div><div class="form-group"><label class="col-sm-2 control-label">环境</label><div class="col-sm-10"><select class="form-control limits-env" name="environment" id="s-env">'+selection+'</select></div></div><div class="form-group"><label class="col-sm-2 control-label ">时间</label><div class="col-sm-10"><input name="time_limit" class="form-control" type="number"  ></div></div><div class="form-group"><label class="col-sm-2 control-label ">内存</label><div class="col-sm-10"><input name="memory_limit" class="form-control" type="number"  ></div></div><div class="form-group"><label class="col-sm-2 control-label ">长度</label><div class="col-sm-10"><input name="length_limit" class="form-control" type="number"  ></div></div><div class="form-group"><a class="btn btn-danger pull-right delete-limit">删除此限制↑</a></div><br></div>'

      $('.delete-limit').click(function() {
        $(this).parent().parent().remove()
      })

      $('#new-limit').click(function() {
        $('#limits').append(append)
        $('.delete-limit').click(function() {
          $(this).parent().parent().remove()
        })
      })

      $('#new-problem-btn').click(function() {
        var env = []
        $('#limits').children('div').each(function(i, n) {
          var obj = $(n)
          var env_data = {
            'environment': obj.find('select[name="environment"] option:selected').val(),
            'title': obj.find('select[name="environment"] option:selected').text(),
            'time_limit': obj.find('input[name="time_limit"]').val(),
            'memory_limit': obj.find('input[name="memory_limit"]').val(),
            'length_limit': obj.find('input[name="length_limit"]').val()
          }
          env.push(env_data)
        })

        var data = {
          'description': $('textarea[name="description"]').val(),
          'sample': $('textarea[name="sample"]').val(),
          'title': $('input[name="title"]').val(),
          'introduction': $('input[name="introduction"]').val(),
          'source': $('input[name="source"]').val(),
          'author': $('input[name="author"]').val(),
          'status': $('select[name="status"] option:selected').val(),
          'test_type': $('select[name="test_type"] option:selected').val(),
          'limits': JSON.stringify(env)
        }

        $.ajax({
          type: 'post',
          url: '/api-server/new-problems/',
          data: data,
          dataType: 'json',
          success: function(response) {
            location.reload()
          },
          error: function(response, info, error) {
            alert(JSON.stringify(response.responseJSON))
          }
        })
      })
    }
  })

</script>
{% endblock %}
