{% extends "api_meta.html" %}

{% load staticfiles %}
{% load i18n %}
{% load rest_framework %}

{% block title %}选用/删除测试数据 - SDUSTOJ API{% endblock %}

{% block body %}
{% if style != 'list' %}
<table class="am-table .am-table-striped .am-table-hover .am-scrollable-horizontal .am-text-nowrap">
  <tbody>
  {% for i, j in results.items %}
    <tr>
      <td>{{ i }}</td>
      <td>{{ j }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<table class="am-table .am-table-striped .am-table-hover .am-scrollable-horizontal .am-text-nowrap">
    <thead>
        <tr>
            <th>测试数据ID</th>
            <th>创建/更新时间</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for i in results %}
        <tr>
            <td>{{ i.test_data }}</td>
            <td>
                <p>{{ i.create_time }}</p>
                <p>{{ i.update_time }}</p>
            </td>
            <td><button class="btn btn-danger btn-delete-data" id="{{i.id}}">删除</button></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">创建</h4>
      </div>
      <form action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
        <div class="modal-body">
          <fieldset>
            {% csrf_token %}
            <div class="form-group">
                  <label class="col-sm-3 control-label "><div class="text-left">测试数据：</div></label>
                  <div class="col-sm-9">
                    <select class="form-control" name="test_data" id="test-data-choices"></select>
                  </div>
                </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-primary">确定</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endif %}
{% endblock %}

{% block cur %}题元{% endblock %}

{% block cur_nav %}
<li><a href="/api-server/problems/?ordering=id">浏览题目</a></li>
<li><a href="/api-server/problems/{{ results.id }}/" id="pro">题目详情</a></li>
<li><a href="/api-server/problems/{{ results.id }}/limits/" id="pro-l">编程限制集</a></li>
<li><a href="/api-server/problems/{{ results.id }}/test-data/" id="pro-t">选用测试数据集</a></li>
<li><a class="btn btn-primary" href="/api-server/problems/{{ results.id }}/test-data-rel/" id="pro-tr">选用/删除测试数据</a></li>
{% endblock %}

{% block script %}
<script>
  var url = location.href
  var urls = url.split('/')
  var pid = urls[urls.length-3]

  $.ajax({
    type: 'GET',
    url: '/api-server/problems/'+ pid +'/',
    data: 'json',
    success:function(response) {
      mid = response.meta_problem
      $.ajax({
        type: 'GET',
        url: '/api-server/meta-problems/'+mid+'/test-data/',
        data: 'json',
        success:function(response) {
          for(var i = 0; i < response.results.length; ++i) {
            $('#test-data-choices').append('<option value="'+response.results[i].id+'" selected>'+response.results[i].id+': '+response.results[i].title+'</option>')
          }
        }
      })
    }
  })

  $('#pro').attr('href', '/api-server/problems/'+pid+'/')
  $('#pro-l').attr('href', '/api-server/problems/'+pid+'/limits/')
  $('#pro-t').attr('href', '/api-server/problems/'+pid+'/test-data/')
  $('#pro-tr').attr('href', '/api-server/problems/'+pid+'/test-data-rel/')

  $('.btn-delete-data').click(function() {
    id = $(this).attr('id')
    $.ajax({
      type: 'DELETE',
      url: '/api-server/problems/'+pid+'/test-data-rel/'+id+'/',
      dataType: 'json',
      success: function(response) {
        location.reload()
      }
    })
  })
</script>
{% endblock %}