{% extends "api_meta.html" %}

{% load staticfiles %}
{% load i18n %}
{% load rest_framework %}

{% block title %}
{% if style != 'list' %}
题目详情 - SDUSTOJ API
{% else %}
题目列表 - SDUSTOJ API
{% endif %}
{% endblock %}

{% block body %}
{% if True %}
{% if style != 'list' %}
<h1>题目 {{ results.id }} - {{ results.title }}</h1>
<table class="am-table .am-table-striped .am-table-hover .am-scrollable-horizontal .am-text-nowrap">
  <tbody>
    <tr>
      <th>简介</th>
      <td><pre>{{ results.introduction }}</pre></td>
    </tr>
    <tr>
      <th>评测方式</th>
      <td>
      {% if results.test_type == 'normal' %}
        标准评测
      {% elif results.test_type == 'ignBlank' %}
        非空白符评测
      {% elif results.test_type == 'ignPunct' %}
        非标点符评测
      {% else %}
        未知
      {% endif %}
      </td>
    </tr>
    <tr>
      <th>题意描述</th>
      <td>
        {% if results.description %}
        <pre id="p-d">加载中...</pre>
        {% else %}
        --
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>样例描述</th>
      <td>
        {% if results.sample %}
        <pre id="p-s">加载中...</pre>
        {% else %}
        --
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>创建者</th>
      <td>{{ results.creator }}</td>
    </tr>
    <tr>
      <th>创建时间</th>
      <td>{{ results.create_time }}</td>
    </tr>
    <tr>
      <th>最后更新</th>
      <td>{{ results.updater }}</td>
    </tr>
    <tr>
      <th>最后更新时间</th>
      <td>{{ results.update_time }}</td>
    </tr>
    <tr>
      <th>来源</th>
      <td>{{ results.source }}</td>
    </tr>
    <tr>
      <th>原作者</th>
      <td>{{ results.author }}</td>
    </tr>
  </tbody>
</table>
<!-- Submission Modal -->
<div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="submitModalLabel">Submit</h4>
      </div>
      <form action="/api-server/submissions/" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
        <div class="modal-body">
          <fieldset>
            {% csrf_token %}
            <div class="form-group ">
              <label class="col-sm-2 control-label">代码</label>
              <div class="col-sm-10">
                <textarea name="code" class="form-control"  ></textarea>
              </div>
            </div>
            <div class="form-group" hidden>
              <label class="col-sm-2 control-label ">Problem</label>
              <div class="col-sm-10">
                <input value="{{ results.id }}" name="problem">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label ">语言</label>
              <div class="col-sm-10">
                <select class="form-control" name="environment" id="language-choices">
                </select>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-primary">确定</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% else %}
<table class="am-table .am-table-striped .am-table-hover .am-scrollable-horizontal .am-text-nowrap">
    <thead>
        <tr>
            <th>ID</th>
            <th>标题</th>
            <th>简介</th>
            <th>评测方式</th>
            <th>来源/作者</th>
            <th>创建/更新时间</th>
        </tr>
    </thead>
    <tbody>
    {% for i in results %}
        <tr>
            <td><a href="/api-server/problems/{{ i.id }}/">{{ i.id }}</a></td>
            <td><a href="/api-server/problems/{{ i.id }}/">{{ i.title }}</a></td>
            <td><pre>{{ i.introduction }}</pre></td>
            <td>
              {% if i.test_type == 'normal' %}
                标准评测
              {% elif i.test_type == 'ignBlank' %}
                非空白符评测
              {% elif i.test_type == 'ignPunct' %}
                非标点符评测
              {% else %}
                未知
              {% endif %}
            </td>
            <td>
              <p>{{ i.source }}</p>
              <p>{{ i.author }}</p>
            </td>
            <td>
                <p>{{ i.create_time }}</p>
                <p>{{ i.update_time }}</p>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">创建</h4>
      </div>
      <form action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
        <div class="modal-body">
          <fieldset>
            {% csrf_token %}
            {{ post_form }}
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="submit" class="btn btn-primary">确定</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}
{% endif %}
{% endblock %}

{% block cur %}
{% if style != 'list' %}
题目
{% else %}
题目集
{% endif %}
{% endblock %}

{% block cur_nav %}
<li><a {% if style == 'list' %}class="btn btn-primary"{% endif %} href="/api-server/problems/?ordering=id">浏览题目</a></li>
{% if style != 'list' %}
<li><a {% if style != 'list' %}class="btn btn-primary"{% endif %} href="/api-server/problems/{{ results.id }}/">题目详情</a></li>
<li><a href="/api-server/problems/{{ results.id }}/limits/">编程限制集</a></li>
<li><a href="/api-server/problems/{{ results.id }}/test-data/">选用测试数据集</a></li>
<li><a type="button" data-toggle="modal" data-target="#submitModal">提交程序</a></li>
{% endif %}
{% endblock %}


{% block script %}
{% if style != 'list' %}
<script>
  $.ajax({
    type: 'GET',
    url: '/api-server/problems/{{ results.id }}/limits/',
    dataType: 'json',
    success: function(response) {
      for(var i = 0; i < response.results.length; ++i) {
        limit = response.results[i]
        value = limit.environment
        language = limit.language
        $('#language-choices').append('<option value='+value+'>'+language+'</option>')
      }
    }
  })

  {% if results.description %}
  $.ajax({
    type: 'GET',
    url: '/api-server/problems/{{ results.id }}/description/',
    dataType: 'json',
    success: function(response) {
      $('#p-d').text(response.content)
    }
  })
  {% endif %}

  {% if results.sample %}
  $.ajax({
    type: 'GET',
    url: '/api-server/problems/{{ results.id }}/samples/',
    dataType: 'json',
    success: function(response) {
      $('#p-s').text(response.content)
    }
  })
  {% endif %}
</script>
{% endif %}
{% endblock %}
