{% extends "api_meta.html" %}

{% load staticfiles %}
{% load i18n %}
{% load rest_framework %}

{% block title %}系统环境 - SDUSTOJ API{% endblock %}

{% block body %}
{% if True %}
{% if style != 'list' %}
<h1>编程环境 详情</h1>
<table class="am-table .am-table-striped .am-table-hover .am-scrollable-horizontal .am-text-nowrap">
  <tr>
    <th>环境ID</th>
    <td><pre>{{ results.eid }}</pre></td>
  </tr>
  <tr>
    <th>语言名称</th>
    <td>{{ results.language }}</td>
  </tr>
  <tr>
    <th>创建者</th>
    <td>{{ results.creator }}</td>
  </tr>
  <tr>
    <th>创建时间</th>
    <td>{{ results.create_time }}</td>
  </tr>
  <tr>
    <th>最后更新</th>
    <td>{{ results.updater }}</td>
  </tr>
  <tr>
    <th>最后更新时间</th>
    <td>{{ results.update_time }}</td>
  </tr>
</table>
<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit</h4>
      </div>
      <form action="{{ request.get_full_path }}" data-method="PUT" enctype="multipart/form-data" class="form-horizontal" novalidate>
        <div class="modal-body">
          <fieldset>
            {{ put_form }}
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% else %}
<table class="am-table .am-table-striped .am-table-hover .am-scrollable-horizontal .am-text-nowrap">
    <thead>
        <tr>
            <th>环境ID</th>
            <th>语言名称</th>
            <th>创建/更新时间</th>
        </tr>
    </thead>
    <tbody>
    {% for i in results %}
        <tr>
            <td><a href="/api-server/environments/{{ i.eid }}/">{{ i.eid }}</a></td>
            <td><a href="/api-server/environments/{{ i.eid }}/">{{ i.language }}</a></td>
            <td>
                <p>{{ i.create_time }}</p>
                <p>{{ i.update_time }}</p>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create</h4>
      </div>
      <form action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
        <div class="modal-body">
          <fieldset>
            {% csrf_token %}
            {{ post_form }}
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

{% block cur %}评测机管理{% endblock %}

{% block cur_nav %}
<li><a class="btn btn-primary" href="/api-server/environments/">编程环境</a></li>
<li><a href="/api-server/machines/">评测机配置</a></li>
{% endblock %}
