{% extends "api_meta.html" %}

{% load staticfiles %}
{% load i18n %}
{% load rest_framework %}

{% block title %}题库 - SDUSTOJ API{% endblock %}

{% block body %}
{% if True %}
{% if style != 'list' %}
<h1>题库 {{ results.id }} - {{ results.title }}</h1>
<table class="am-table .am-table-striped .am-table-hover .am-scrollable-horizontal .am-text-nowrap">
  <tr>
    <th>简介</th>
    <td><pre>{{ results.introduction }}</pre></td>
  </tr>
  <tr>
    <th>状态</th>
    <td>{% if results.status == 1 %}可用{% else %}不可用{% endif %}</td>
  </tr>
  <tr>
    <th>创建者</th>
    <td>{{ results.creator }}</td>
  </tr>
  <tr>
    <th>创建时间</th>
    <td>{{ results.create_time }}</td>
  </tr>
  <tr>
    <th>最后更新</th>
    <td>{{ results.updater }}</td>
  </tr>
  <tr>
    <th>最后更新时间</th>
    <td>{{ results.update_time }}</td>
  </tr>
  <tr>
    <th>来源</th>
    <td>{{ results.source }}</td>
  </tr>
  <tr>
    <th>原作者</th>
    <td>{{ results.author }}</td>
  </tr>
</table>
<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="ModalLabel">编辑</h4>
      </div>
      <form action="{{ request.get_full_path }}" data-method="PUT" enctype="multipart/form-data" class="form-horizontal" novalidate>
        <div class="modal-body">
          <fieldset>
               {% csrf_token %}
            <div class="form-group ">
              <label class="col-sm-3 control-label ">
                <div class="text-left">标题：</div>
              </label>
              <div class="col-sm-9">
                <input name="title" class="form-control" type="text" id="e_title">
              </div>
            </div>
            <div class="form-group ">
              <label class="col-sm-3 control-label ">
                <div class="text-left">简介：</div>
              </label>
              <div class="col-sm-9">
                <input name="introduction" class="form-control" type="text" id="e_introduction">
              </div>
            </div>
            <div class="form-group ">
              <label class="col-sm-3 control-label ">
                <div class="text-left">来源：</div>
              </label>
              <div class="col-sm-9">
                <input name="source" class="form-control" type="text" id="e_source">
              </div>
            </div>
            <div class="form-group ">
              <label class="col-sm-3 control-label ">
                <div class="text-left">作者：</div>
              </label>
              <div class="col-sm-9">
                <input name="author" class="form-control" type="text" id="e_author">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label ">
                <div class="text-left">状态：</div>
              </label>
              <div class="col-sm-9">
                <select class="form-control" name="status" id="e_status">
                  <option value="1">available</option>
                  <option value="0">unavailable</option>
                </select>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-primary">确定</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% else %}
<table class="am-table .am-table-striped .am-table-hover .am-scrollable-horizontal .am-text-nowrap">
    <thead>
        <tr>
            <th>ID</th>
            <th>标题</th>
            <th>简介</th>
            <th>来源</th>
            <th>创建/更新时间</th>
        </tr>
    </thead>
    <tbody>
    {% for i in results %}
        <tr>
            <td><a href="/api-server/categories/{{ i.id }}/">{{ i.id }}</a></td>
            <td><a href="/api-server/categories/{{ i.id }}/">{{ i.title }}</a></td>
            <td><pre>{{ i.introduction }}</pre></td>
            <td>
                <p>来源：{{ i.source }}</p>
                <p>作者：{{ i.author }}</p>
            </td>
            <td>
                <p>{{ i.create_time }}</p>
                <p>{{ i.update_time }}</p>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">创建</h4>
      </div>
      <form action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
        <div class="modal-body">
          <fieldset>
            {% csrf_token %}
            <div class="form-group ">
              <label class="col-sm-3 control-label ">
                <div class="text-left">标题：</div>
              </label>
              <div class="col-sm-9">
                <input name="title" class="form-control" type="text">
              </div>
            </div>
            <div class="form-group ">
              <label class="col-sm-3 control-label ">
                <div class="text-left">简介：</div>
              </label>
              <div class="col-sm-9">
                <input name="introduction" class="form-control" type="text">
              </div>
            </div>
            <div class="form-group ">
              <label class="col-sm-3 control-label ">
                <div class="text-left">来源：</div>
              </label>
              <div class="col-sm-9">
                <input name="source" class="form-control" type="text">
              </div>
            </div>
            <div class="form-group ">
              <label class="col-sm-3 control-label ">
                <div class="text-left">作者：</div>
              </label>
              <div class="col-sm-9">
                <input name="author" class="form-control" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label ">
                <div class="text-left">状态：</div>
              </label>
              <div class="col-sm-9">
                <select class="form-control" name="status">
                  <option value="1">available</option>
                  <option value="0">unavailable</option>
                </select>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-primary">确定</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

{% block cur %}题库{% endblock %}

{% block cur_nav %}
<li><a {% if style == 'list' %}class="btn btn-primary"{% endif %} href="/api-server/categories/?ordering=id">浏览题库</a></li>
{% if style != 'list' %}
<li><a class="btn btn-primary" href="/api-server/categories/{{ results.id }}/">题库详情</a></li>
<li><a href="/api-server/categories/{{ results.id }}/nodes/?ordering=id">浏览题库结点</a></li>
{% endif %}
{% endblock %}
{% block script%}
<script>
     var url = location.href
  var urls = url.split('/')
   var c_id= urls[urls.length-2]
    $(function () {
        $('#edit_button').click(function(){
           $.ajax({
               url:"/api-server/categories/"+c_id+"/",
               type:"GET",
               dataType:"json",
               data:{},
               success:function(response){
                      $('#e_title').val(response.title);
                            $('#e_source').val(response.source);
                    if(response.status==1)
                            $("#e_status option[value=1]").attr("selected","selected");
                    else
                             $("#e_status option[value=0]").attr("selected","selected");
                            $('#e_author').val(response.author);
                            $('#e_introduction').val(response.introduction);
               },
               error:function (response) {
                    console.log(response);
                }
           });
        });
    });
</script>
{%endblock%}