{% extends "api_meta.html" %}

{% load staticfiles %}
{% load i18n %}
{% load rest_framework %}
{%block css%}
 <link rel="stylesheet" href='{% static "assets/jquery-ui.min.css" %}'>
{%endblock%}
{% block title %}提交记录 - SDUSTOJ API{% endblock %}

{% block body %}
{% if True %}
{% if style != 'list' %}
<script>
  location.href = '/api-server/submissions/?ordering=-id'
</script>
<table class="am-table .am-table-striped .am-table-hover .am-scrollable-horizontal .am-text-nowrap">
  <tbody>
  {% for i, j in results.items %}
    <tr>
      <td>{{ i }}</td>
      <td>{{ j }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<table class="am-table .am-table-striped .am-table-hover .am-scrollable-horizontal .am-text-nowrap">
    <thead>
        <tr>
            <th>ID</th>
            <th>题目</th>
            <th>语言</th>
            <th>用户</th>
            <th>状态</th>
            <th>竞赛</th>
            <th>提交时间</th>
        </tr>
    </thead>
    <tbody>
    {% for i in results %}
        <tr>
            <td><a href="/api-server/submissions/{{ i.id }}/">{{ i.id }}</a></td>
            <td><a href="/api-server/problems/{{ i.problem }}/">{{ i.problem }}</a></td>
            <td><a href="/api-server/submission-code-info/{{ i.id }}/">{{ i.language }}</a></td>
            <td>{{ i.client }}::{{ i.user }}</td>
            <td><a {% if i.status == 'Compile Error' or i.status == 'Invalid Word' %}href="/api-server/submission-messages/{{ i.id }}/"{% else %}href="/api-server/submission-details/{{ i.id }}/"{% endif %}>{{ i.status }}</a></td>
            <td>{{ i.contest }}</td>
            <td>{{ i.submit_time }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<!-- Create Modal -->
          <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">创建</h4>
                </div>
                <form action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
                  <div class="modal-body">
                    <fieldset>
                      {% csrf_token %}
                        <div class="form-group ">
                            <label class="col-sm-2 control-label ">
                                <div class="text-left">代码：</div>
                            </label>
                            <div class="col-sm-10">
                                <textarea name="code" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label ">
                               <div class="text-left">问题：</div>
                            </label>
                            <div class="col-sm-10">
                                <input id="tags" class="form-control" name="problem" placeholder="请输入问题的标题或ID">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label ">
                               <div class="text-left">环境：</div>
                            </label>
                            <div class="col-sm-10">
                                <select class="form-control" name="environment" id="environment">
                                    <option>请选择一种编程环境</option>
                                </select>
                            </div>
                        </div>

                    </fieldset>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">确定</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

{% endif %}
{% endif %}
{% endblock %}

{% block cur %}提交记录{% endblock %}

{% block cur_nav %}
<li><a {% if style == 'list' %}class="btn btn-primary"{% endif %} href="/api-server/submissions/?ordering=-id">浏览提交记录</a></li>
{% if style != 'list' %}
<li><a class="/api-server/submissions/{{ results.id }}/">提交记录详情</a></li>
{% endif %}
{% endblock %}

{% block script %}
<script src='{% static "assets/jquery-ui.min.js" %}'></script>
<script>
    $('a:contains("Accepted")').css('color', 'green')
    $('a:contains("Wrong Answer")').css('color', 'red')
    $('a:contains("Compile Error")').css('color', 'grey')
    $('a:contains("Runtime Error")').css('color', '#999900')
    $('a:contains("Time Limit Exceeded")').css('color', 'blue')
     $(function() {
        $('#environment').click(function(){
             $.ajax({
                url: "/api-server/environments/",
                data: {},
                type: "GET",
                dataType: "json",
                success: function (data) {
                    $('#environment').html('');
                    $.each(data.results, function (i, item) {
                        $('#environment').append(function () {
                            var op = '<option value="' + item.eid + '">' + item.language + '</option>'
                            return op;
                        });
                    });
                },
                error: function (data) {
                    if (response.status == 404) {
                        alert("没有请求到数据");
                    }
                    else if (response.status == 500) {
                        alert("服务器拥挤");
                    }
                }
            });
        })

     $( "#tags" ).autocomplete({
      source:function(request, response){
          $.ajax({
              url:"/api-server/problems/",
              data:{
                  search: request.term
              },
              dataType:"json",
              type:"GET",
              success:function(data){
                  if(data.count==0)
                  {
                      var ite=["没有找到该题目"]
                      response(ite);
                  }
                        else {
                    response($.map(data.results,function(item){
                            var name = item.title;
                                var id=item.id;
                            return {
                                label:'Problem '+id+'：'+name,//下拉框显示值
                                value:id,//选中后，填充到下拉框的值
                            }
                        }));
                  }


              },
                error:function(data){
                  alert('请求失败');
              }
          })
      },
      minLength: 1,
      select: function( event, ui ) {
      }, delay: 300,//延迟500ms便于输入
    });
  });
</script>
{% endblock %}