{% extends "api_meta.html" %}

{% load staticfiles %}
{% load i18n %}
{% load rest_framework %}

{% block title %}评测机配置 - SDUSTOJ API{% endblock %}

{% block body %}
{% if True %}
{% if style != 'list' %}
<h1>评测机 详情</h1>
<table class="am-table .am-table-striped .am-table-hover .am-scrollable-horizontal .am-text-nowrap">
  <tr>
    <th>评测机帐号</th>
    <td>{{ results.name }}</td>
  </tr>
  <tr>
    <th>说明</th>
    <td><pre>{{ results.detail }}</pre></td>
  </tr>
  <tr>
    <th>数据更新消息通道</th>
    <td>{{ results.data_queue }}</td>
  </tr>
  <tr>
    <th>命令消息通道</th>
    <td>{{ results.cmd_queue }}</td>
  </tr>
  <tr>
    <th>支持的环境</th>
    <td>{{ results.environment }}</td>
  </tr>
  <tr>
    <th>创建者</th>
    <td>{{ results.creator }}</td>
  </tr>
  <tr>
    <th>创建时间</th>
    <td>{{ results.create_time }}</td>
  </tr>
  <tr>
    <th>最后更新</th>
    <td>{{ results.updater }}</td>
  </tr>
  <tr>
    <th>最后更新时间</th>
    <td>{{ results.update_time }}</td>
  </tr>
  <tr>
    <th></th>
    <td><a class="btn btn-primary" id="update-data">更新评测机数据</a></td>
  </tr>
</table>
<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">编辑</h4>
      </div>
      <form action="{{ request.get_full_path }}" data-method="PUT" enctype="multipart/form-data" class="form-horizontal" novalidate>
        <div class="modal-body">
          <fieldset>
             <div class="form-group">
              <label class="col-sm-3 control-label ">
               <div class="text-left">编程环境：</div>
              </label>
              <div class="col-sm-9">
                <select multiple class="form-control" name="environment" id="e_environment">
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label ">
                 <div class="text-left">状态：</div>
              </label>
              <div class="col-sm-9">
                <select class="form-control" name="status" id="status">
                  <option value="1">available</option>
                  <option value="0">unavailable</option>
                </select>
              </div>
            </div>
            <div class="form-group ">
              <label class="col-sm-3 control-label ">
                <div class="text-left">详细信息：</div>
              </label>
              <div class="col-sm-9">
                <input name="detail" class="form-control" type="text" id="detail">
              </div>
            </div>
            <div class="form-group ">
              <label class="col-sm-3 control-label ">
                <div class="text-left">配置：</div>
              </label>
              <div class="col-sm-9">
                <textarea name="settings" class="form-control" id="settings"></textarea>
              </div>
            </div>
            <div class="form-group ">
              <label class="col-sm-3 control-label ">
                <div class="text-left">命令队列：</div>
              </label>
              <div class="col-sm-9">
                <input name="cmd_queue" class="form-control" type="text" id="cmd_queue">
              </div>
            </div>
            <div class="form-group ">
              <label class="col-sm-3 control-label ">
                <div class="text-left">数据队列：</div>
              </label>
              <div class="col-sm-9">
                <input name="data_queue" class="form-control" type="text" id="data_queue">
              </div>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-primary">确定</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% else %}
<table class="am-table .am-table-striped .am-table-hover .am-scrollable-horizontal .am-text-nowrap">
    <thead>
        <tr>
            <th>评测机帐号</th>
            <th>支持环境</th>
            <th>创建/更新时间</th>
        </tr>
    </thead>
    <tbody>
    {% for i in results %}
        <tr>
            <td><a href="/api-server/machines/{{ i.name }}/">{{ i.name }}</a></td>
            <td>{{ i.environment }}</td>
            <td>
                <p>{{ i.create_time }}</p>
                <p>{{ i.update_time }}</p>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="mModalLabel">创建</h4>
      </div>
      <form action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
        <div class="modal-body">
          <fieldset>
            {% csrf_token %}
            <div class="form-group">
              <label class="col-sm-3 control-label ">
               <div class="text-left">编程环境：</div>
              </label>
              <div class="col-sm-9">
                <select multiple class="form-control" name="environment" id="environment">
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label ">
                 <div class="text-left">状态：</div>
              </label>
              <div class="col-sm-9">
                <select class="form-control" name="status">
                  <option value="1">available</option>
                  <option value="0">unavailable</option>
                </select>
              </div>
            </div>
            <div class="form-group ">
              <label class="col-sm-3 control-label ">
                 <div class="text-left">评测机账号：</div>
              </label>
              <div class="col-sm-9">
                <input name="name" class="form-control" type="text">
              </div>
            </div>
            <div class="form-group ">
              <label class="col-sm-3 control-label ">
                <div class="text-left">详细信息：</div>
              </label>
              <div class="col-sm-9">
                <input name="detail" class="form-control" type="text">
              </div>
            </div>
            <div class="form-group ">
              <label class="col-sm-3 control-label ">
                <div class="text-left">配置：</div>
              </label>
              <div class="col-sm-9">
                <textarea name="settings" class="form-control"></textarea>
              </div>
            </div>
            <div class="form-group ">
              <label class="col-sm-3 control-label ">
                <div class="text-left">命令队列：</div>
              </label>
              <div class="col-sm-9">
                <input name="cmd_queue" class="form-control" type="text">
              </div>
            </div>
            <div class="form-group ">
              <label class="col-sm-3 control-label ">
                <div class="text-left">数据队列：</div>
              </label>
              <div class="col-sm-9">
                <input name="data_queue" class="form-control" type="text">
              </div>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-primary">确定</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

{% block cur %}评测机管理{% endblock %}

{% block cur_nav %}
<li><a href="/api-server/environments/">编程环境</a></li>
<li><a class="btn btn-primary" href="/api-server/machines/">评测机配置</a></li>
{% endblock %}

{% block script %}
{% if style != 'list' %}
<script>
   var url = location.href
  var urls = url.split('/')
   var id= urls[urls.length-3]
  $('#update-data').click(function() {
    $.ajax({
      type: 'POST',
      url: '/api-server/machines/{{ results.name }}/update/',
      success: function(response) {
        alert('数据更新消息已发送')
      }
    })
  })
  $('#edit_button').click(function(){
      $.ajax({
                url: "/api-server/environments/",
                data: {},
                type: "GET",
                dataType: "json",
                success: function (data) {
                    $.each(data.results, function (i, item) {
                        $('#e_environment').append(function () {
                            var op = '<option value="' + item.eid + '">' + item.language + '</option>'
                            return op;
                        });
                    });
                }
     });
    $.ajax({
        url: "/api-server/machines/"+id+"/",
        data: {},
        type: "GET",
        dataType: "json",
        success:function(data){
          var col=data.environment;
          for(var i=0;i<col.length;i++)
          {
            var t=col[i];
            $('#e_environment option').each(function (i,item) {
              var op=$(this).val();
              if(op==t)
                $(this).prop('selected','selected');
            })
          }
          $('#status option').each(function(i,item){
             var op=$(this).val();
            if(op==data.status)
              $(this).prop('selected','selected');
          });
          $('#detail').val(data.detail);
          $('#settings').val(data.settings);
          $('#cmd_queue').val(data.cmd_queue);
          $('#data_queue').val(data.data_queue);
        }
    })
  })
</script>
{% endif %}
<script>
   $('#creat-button').on('click',function () {
     $.ajax({
                url: "/api-server/environments/",
                data: {},
                type: "GET",
                dataType: "json",
                success: function (data) {
                    $.each(data.results, function (i, item) {
                        $('#environment').append(function () {
                            var op = '<option value="' + item.eid + '">' + item.language + '</option>'
                            return op;
                        });
                    });
                }
     })
  });
</script>
{% endblock %}
