{% extends "api_meta.html" %}

{% load staticfiles %}
{% load i18n %}
{% load rest_framework %}

{% block title %}
{% if style != 'list' %}
编程限制 - SDUSTOJ API
{% else %}
编程限制集 - SDUSTOJ API
{% endif %}
{% endblock %}

{% block body %}
<h1>编程限制 {{ results.id }} - {{ results.title }}</h1>
<table class="am-table .am-table-striped .am-table-hover .am-scrollable-horizontal .am-text-nowrap">
  <tbody>
    <tr>
      <th>简介</th>
      <td><pre>{{ results.introduction }}</pre></td>
    </tr>
    <tr>
      <th>语言</th>
      <td>{{ results.language }}</td>
    </tr>
    <tr>
      <th>时间限制</th>
      <td>{{ results.time_limit }}</td>
    </tr>
    <tr>
      <th>内存限制</th>
      <td>{{ results.memory_limit }}</td>
    </tr>
    <tr>
      <th>代码长度限制</th>
      <td>{{ results.length_limit }}</td>
    </tr>
    <tr>
      <th>创建者</th>
      <td>{{ results.creator }}</td>
    </tr>
    <tr>
      <th>创建时间</th>
      <td>{{ results.create_time }}</td>
    </tr>
    <tr>
      <th>最后更新</th>
      <td>{{ results.updater }}</td>
    </tr>
    <tr>
      <th>最后更新时间</th>
      <td>{{ results.update_time }}</td>
    </tr>
  </tbody>
</table>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">编辑</h4>
      </div>
      <form action="{{ request.get_full_path }}" data-method="PUT" enctype="multipart/form-data" class="form-horizontal" novalidate>
        <div class="modal-body">
          <fieldset>
            {% csrf_token %}
              <div class="form-group ">
                  <label class="col-sm-3 control-label ">
                     <div class="text-left">标题：</div>
                  </label>
                  <div class="col-sm-9">
                      <input name="title" class="form-control" type="text" id="title">
                  </div>
              </div>
              <div class="form-group ">
                  <label class="col-sm-3 control-label ">
                     <div class="text-left">简介：</div>
                  </label>
                  <div class="col-sm-9">
                      <input name="introduction" class="form-control" type="text" id="introduction">
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-sm-3 control-label ">
                      <div class="text-left">状态：</div>
                  </label>
                  <div class="col-sm-9">
                      <select class="form-control" name="status" id="status">
                          <option value="1">available</option>
                          <option value="0">unavailable</option>
                      </select>
                  </div>
              </div>
              <div class="form-group ">
                  <label class="col-sm-3 control-label ">
                     <div class="text-left">时间限制：</div>
                  </label>
                  <div class="col-sm-9">
                      <input name="time_limit" class="form-control" type="number" id="time_limit">
                  </div>
              </div>
              <div class="form-group ">
                  <label class="col-sm-3 control-label ">
                      <div class="text-left">内存限制：</div>
                  </label>
                  <div class="col-sm-9">
                      <input name="memory_limit" class="form-control" type="number" id="memory_limit">
                  </div>
              </div>
              <div class="form-group ">
                  <label class="col-sm-3 control-label ">
                     <div class="text-left">长度限制：</div>
                  </label>
                  <div class="col-sm-9">
                      <input name="length_limit" class="form-control" type="number" id="length_limit">
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-sm-3 control-label ">
                      <div class="text-left">编程环境</div>
                  </label>
                  <div class="col-sm-9">
                      <select class="form-control" name="environment" id="environment">
                      </select>
                  </div>
              </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-primary">确定</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block cur %}题元{% endblock %}

{% block cur_nav %}
<li><a href="/api-server/problems/?ordering=id">浏览题目</a></li>
<li><a href="/api-server/problems/{{ results.id }}/" id="pro">题目详情</a></li>
<li><a class="btn btn-primary" href="/api-server/problems/{{ results.id }}/limits/" id="pro-l">编程限制集</a></li>
<li><a href="/api-server/problems/{{ results.id }}/invalid-words/" id="pro-i">非法单词集</a></li>
<li><a href="/api-server/problems/{{ results.id }}/test-data/" id="pro-t">选用测试数据集</a></li>
<li><a href="/api-server/problems/{{ results.id }}/test-data-rel/" id="pro-tr">选用/删除测试数据</a></li>
{% endblock %}

{% block script %}
<script>
  var url = location.href
  var urls = url.split('/')
  var pid = urls[urls.length-4]
   var id=urls[urls.length-2]
 $(function(){
        $('#edit_button').click(function(){
             $.ajax({
                url: "/api-server/environments/",
                data: {},
                type: "GET",
                dataType: "json",
                success: function (data) {
                    $('#environment').html('');
                    $.each(data.results, function (i, item) {
                        $('#environment').append(function () {
                            var op = '<option value="' + item.eid + '">' + item.language + '</option>'
                            return op;
                        });
                    });
                },
                error: function (data) {
                    if (response.status == 404) {
                        alert("没有请求到变成限制数据");
                    }
                    else if (response.status == 500) {
                        alert("服务器拥挤");
                    }
                }
            });
           $.ajax({
                url: "/api-server/problems/" + pid + "/limits/"+id+"/",
                data: {},
                type: "GET",
                dataType: "json",
                success: function (data) {
                            $('#title').val(data.title);
                            $('#introduction').val(data.introduction);
                            $('#status option').each(function(i,item){
                                var op=$(this).val();
                                if(op==item.status)
                                    $(this).prop('selected','selected');
                            });
                            $('#environment option').each(function(i,item){
                                var op=$(this).val();
                                if(op==item.environment)
                                    $(this).prop('selected','selected');
                            });
                            $('#time_limit').val(data.time_limit);
                            $('#memory_limit').val(data.memory_limit);
                            $('#length_limit').val(data.length_limit);
                },
                error: function () {
                         if (response.status == 404) {
                        alert("没有请求到数据");
                    }
                    else if (response.status == 500) {
                        alert("服务器拥挤");
                    }
                },

            });

        });
    })
  $('#pro').attr('href', '/api-server/problems/'+pid+'/')
  $('#pro-l').attr('href', '/api-server/problems/'+pid+'/limits/')
  $('#pro-i').attr('href', '/api-server/problems/'+pid+'/invalid-words/')
  $('#pro-t').attr('href', '/api-server/problems/'+pid+'/test-data/')
  $('#pro-tr').attr('href', '/api-server/problems/'+pid+'/test-data-rel/')
</script>
{% endblock %}