{% extends "api_meta.html" %}

{% load staticfiles %}
{% load i18n %}
{% load rest_framework %}

{% block title %}提交记录 - SDUSTOJ API{% endblock %}

{% block body %}
{% if True %}
{% if style != 'list' %}
<table class="am-table .am-table-striped .am-table-hover .am-scrollable-horizontal .am-text-nowrap">
  <tbody>
  {% for i, j in results.items %}
    <tr>
      <td>{{ i }}</td>
      <td>{{ j }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<table class="am-table .am-table-striped .am-table-hover .am-scrollable-horizontal .am-text-nowrap">
    <thead>
        <tr>
            <th>ID</th>
            <th>题目</th>
            <th>语言</th>
            <th>用户&竞赛</th>
            <th>状态</th>
            <th>评测机</th>
            <th>提交时间</th>
        </tr>
    </thead>
    <tbody>
    {% for i in results %}
        <tr>
            <td><a href="/api-server/submissions/{{ i.id }}/">{{ i.id }}</a></td>
            <td><a href="/api-server/problems/{{ i.problem }}/">{{ i.problem }} - {{ i.problem_title }}</a></td>
            <td><a href="/api-server/submission-code-info/{{ i.id }}/">{{ i.language }}</a></td>
            <td>{{ i.client }}::{{ i.user }}::{{ i.contest }}</td>
            <td><a {% if i.status == 'Compile Error' %}href="/api-server/submission-messages/{{ i.id }}/"{% else %}href="/api-server/submission-details/{{ i.id }}/"{% endif %}>{{ i.status }}</a></td>
            <td>{{ i.machine }}</td>
            <td>{{ i.submit_time }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<!--&lt;!&ndash; Create Modal &ndash;&gt;-->
          <!--<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
            <!--<div class="modal-dialog">-->
              <!--<div class="modal-content">-->
                <!--<div class="modal-header">-->
                  <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                  <!--<h4 class="modal-title" id="myModalLabel">创建</h4>-->
                <!--</div>-->
                <!--<form action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>-->
                  <!--<div class="modal-body">-->
                    <!--<fieldset>-->
                      <!--{% csrf_token %}-->
                      <!--{{ post_form }}-->
                    <!--</fieldset>-->
                  <!--</div>-->
                  <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>-->
                    <!--<button type="submit" class="btn btn-primary">确定</button>-->
                  <!--</div>-->
                <!--</form>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

{% endif %}
{% endif %}
{% endblock %}

{% block cur %}提交记录{% endblock %}

{% block cur_nav %}
<li><a href="/api-server/submissions/?ordering=-id">浏览提交记录</a></li>
<li><a href="/api-server/submission-messages/{{ results.id }}/">评测信息</a></li>
<li><a class="btn btn-primary" href="/api-server/submissions/{{ results.id }}/">提交记录详情</a></li>
<li><a href="/api-server/submission-details/{{ results.id }}/">评测详情</a></li>
<li><a href="/api-server/submission-code-info/{{ results.id }}/">查看代码</a></li>
{% endblock %}
