{% extends "api_meta.html" %}

{% load staticfiles %}
{% load i18n %}
{% load rest_framework %}

{% block title %}用户管理 - SDUSTOJ API{% endblock %}

{% block body %}
{% if True %}
{% if style != 'list' %}
<h1>用户 详情</h1>
<table class="am-table .am-table-striped .am-table-hover .am-scrollable-horizontal .am-text-nowrap">
  <tr>
    <th>用户名</th>
    <td><pre>{{ results.username }}</pre></td>
  </tr>
  <tr>
    <th>姓名</th>
    <td>{{ results.last_name }} {{ results.first_name }}</td>
  </tr>
  <tr>
    <th>邮箱</th>
    <td>{{ results.email }}</td>
  </tr>
  <tr>
    <th>是否可用</th>
    <td>{{ results.is_active }}</td>
  </tr>
  <tr>
    <th>所属用户组编号</th>
    <td>{{ results.groups }}</td>
  </tr>
</table>
<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">编辑</h4>
      </div>
      <form action="{{ request.get_full_path }}" data-method="PUT" enctype="multipart/form-data" class="form-horizontal" novalidate>
        <div class="modal-body">
          <fieldset>
            {{ put_form }}
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-primary">确定</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% else %}
<table class="am-table .am-table-striped .am-table-hover .am-scrollable-horizontal .am-text-nowrap">
    <thead>
        <tr>
            <th>用户名</th>
            <th>姓名</th>
            <th>是否可用</th>
            <th>所属用户组编号</th>
        </tr>
    </thead>
    <tbody>
    {% for i in results %}
        <tr>
            <td><a href="/api-server/users/{{ i.username }}/">{{ i.username }}</a></td>
            <td><a href="/api-server/users/{{ i.username }}/">{{ i.last_name }} {{ i.first_name }}</a></td>
            <td>{{ i.is_active }}</td>
            <td>{{ i.groups }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">创建</h4>
      </div>
      <form action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
        <div class="modal-body">
          <fieldset>
            {% csrf_token %}
            {{ post_form }}
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-primary">确定</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

{% block cur %}用户管理{% endblock %}

{% block cur_nav %}
<li><a class="btn btn-primary" href="/api-server/users/">用户管理</a></li>
{% endblock %}
