{% extends "api_meta.html" %}

{% load staticfiles %}
{% load i18n %}
{% load rest_framework %}

{% block title %}维护题目连接 - SDUSTOJ API{% endblock %}

{% block body %}
{% if style != 'list' %}
<script>
  location.href = '{{ request.get_full_path }}'
</script>
{% endif %}
<table class="am-table .am-table-striped .am-table-hover .am-scrollable-horizontal .am-text-nowrap">
    <thead>
        <tr>
            <th>题目ID</th>
            <th>创建/更新时间</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for i in results %}
        <tr>
            <td><a href="/api-server/problems/{{ i.problem }}/">{{ i.problem }}</a></td>
            <td>
                <p>{{ i.create_time }}</p>
                <p>{{ i.update_time }}</p>
            </td>
            <td><a class="btn btn-danger btn-oj-delete" href="javascript:void(0)" id="{{i.id}}">删除</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create</h4>
      </div>
      <form action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
        <div class="modal-body">
          <fieldset>
            {% csrf_token %}
            {{ post_form }}
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block cur %}题库{% endblock %}

{% block cur_nav %}
<li><a href="/api-server/categories/?ordering=id">浏览题库</a></li>
<li><a id="c-d">题库详情</a></li>
<li><a id="c-n">浏览题库结点</a></li>
<li><a id="n-d">结点详情</a></li>
<li><a id="n-p">查看结点下题目</a></li>
<li><a href="{{ request.get_full_path }}" class="btn btn-primary">维护题目连接</a></li>
{% endblock %}

{% block script %}
<script>
var url = location.href
var urls = url.split('/')
var nid = urls[urls.length-3]

$.ajax({
  type: 'GET',
  url: '/api-server/nodes/'+nid+'/',
  dataType: 'json',
  success: function(response) {
    var cid = response.category
    $('#c-d').attr('href', '/api-server/categories/'+cid+'/')
    $('#c-n').attr('href', '/api-server/categories/'+cid+'/nodes/')
    $('#n-d').attr('href', '/api-server/categories/'+cid+'/nodes/'+nid+'')
    $('#n-p').attr('href', '/api-server/nodes/'+nid+'/problems/')
  }
})

$('.btn-oj-delete').click(function() {
  npid = $(this).attr('id')
  $.ajax({
    type: 'DELETE',
    url: '/api-server/nodes/'+nid+'/problem-rel/'+npid+'/',
    dataType: 'json',
    success: function(response) {
      location.href = '{{ request.get_full_path }}'
    }
  })
})

</script>
{% endblock %}