{% extends "api_meta.html" %}

{% load staticfiles %}
{% load i18n %}
{% load rest_framework %}

{% block title %}选用测试数据集 - SDUSTOJ API{% endblock %}

{% block body %}
{% if style != 'list' %}
<table class="am-table .am-table-striped .am-table-hover .am-scrollable-horizontal .am-text-nowrap">
  <tbody>
  {% for i, j in results.items %}
    <tr>
      <td>{{ i }}</td>
      <td>{{ j }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<table class="am-table .am-table-striped .am-table-hover .am-scrollable-horizontal .am-text-nowrap">
    <thead>
        <tr>
            <th>ID</th>
            <th>标题</th>
            <th>简介</th>
            <th>创建/更新时间</th>
        </tr>
    </thead>
    <tbody>
    {% for i in results %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.title }}</td>
            <td><pre>{{ i.introduction }}</pre></td>
            <td>
                <p>{{ i.create_time }}</p>
                <p>{{ i.update_time }}</p>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create</h4>
      </div>
      <form action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
        <div class="modal-body">
          <fieldset>
            {% csrf_token %}
            {{ post_form }}
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endif %}
{% endblock %}

{% block cur %}题元{% endblock %}

{% block cur_nav %}
<li><a href="/api-server/problems/?ordering=id">浏览题目</a></li>
<li><a href="/api-server/problems/{{ results.id }}/" id="pro">题目详情</a></li>
<li><a href="/api-server/problems/{{ results.id }}/limits/" id="pro-l">编程限制集</a></li>
<li><a href="/api-server/problems/{{ results.id }}/test-data/" id="pro-t">选用测试数据集</a></li>
<li><a href="/api-server/problems/{{ results.id }}/test-data-rel/" id="pro-tr">选用/删除测试数据</a></li>
{% endblock %}

{% block script %}
<script>
  var url = location.href
  var urls = url.split('/')
  var pid = urls[urls.length-3]

  $('#pro').attr('href', '/api-server/problems/'+pid+'/')
  $('#pro-l').attr('href', '/api-server/problems/'+pid+'/limits/')
  $('#pro-t').attr('href', '/api-server/problems/'+pid+'/test-data/')
  $('#pro-tr').attr('href', '/api-server/problems/'+pid+'/test-data-rel/')
</script>
{% endblock %}