<!doctype html>

{% load staticfiles %}
{% load i18n %}
{% load rest_framework %}

<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="icon" type="image/png" href="assets/i/favicon.png">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">

  <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/bootstrap.min.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/prettify.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/default.css" %}"/>
  <link rel="stylesheet" href='{% static "assets/css/amazeui.min.css" %}'>
  <link rel="stylesheet" href='{% static "assets/css/app.css" %}'>
  <link rel="stylesheet" href='{% static "css/sidebar.css" %}'>
</head>
<body>

<header class="am-g my-head">
  <div class="am-u-sm-12 am-article">
    <img class="no-border" src='{% static "img/School.png" %}' alt="SDUST" width="64" height="64">
  </div>
</header>
<hr class="am-article-divider"/>
<div class="am-g am-g-fixed">
  <div class="am-u-md-10 am-u-md-push-2">
    <div class="am-g">

      <div class="am-u-sm-11 am-u-sm-centered">

        {% if put_form %}
          <button type="button" class="button-form btn btn-primary" data-toggle="modal" data-target="#editModal">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
          </button>
        {% endif %}

        {% if post_form %}
          <button type="button" class="button-form btn btn-primary" data-toggle="modal" data-target="#createModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create
          </button>
        {% endif %}

        {% if delete_form %}
          <form class="button-form" action="{{ request.get_full_path }}" data-method="DELETE">
            <button class="btn btn-danger">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
            </button>
          </form>
        {% endif %}

        {% if filter_form %}
          <button style="float: right; margin-right: 10px" data-toggle="modal" data-target="#filtersModal" class="btn btn-default">
            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
            {% trans "Filters" %}
          </button>
        {% endif %}

          {% if error_form %}
            <!-- Errors Modal -->
            <div class="modal" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ error_title }}</h4>
                  </div>
                  <form action="{{ request.get_full_path }}" data-method="{{ request.method }}" enctype="multipart/form-data" class="form-horizontal" novalidate>
                    <div class="modal-body">
                      <fieldset>
                        {{ error_form }}
                      </fieldset>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          {% endif %}

          {% if filter_form %}
            {{ filter_form }}
          {% endif %}

          <div style="float:left">
            {% block description %}
              {{ description }}
            {% endblock %}
          </div>

        <!--{% if paginator %}-->
          <!--<nav style="float: right">-->
            <!--{% get_pagination_html paginator %}-->
          <!--</nav>-->
        <!--{% endif %}-->
        {% block body %}{% endblock %}
        {% if paginator %}
          <nav style="float: right">
            {% get_pagination_html paginator %}
          </nav>
        {% endif %}

        {% if 'GET' in allowed_methods %}
        <form id="get-form" class="pull-left">
          <fieldset>
            <div class="btn-group format-selection">
              <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Format <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                  {% for format in available_formats %}
                  <li>
                    <a class="format-option"
                        href='{% add_query_param request api_settings.URL_FORMAT_OVERRIDE format %}'
                         rel="nofollow">
                        {{ format }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </fieldset>
        </form>
        {% endif %}

      </div>
    </div>
  </div>
  <div class="am-u-md-2 am-u-md-pull-10 my-sidebar">
    <div class="am-offcanvas" id="sidebar">
      <div class="am-offcanvas-bar">
        <ul class="am-nav">
          <li class="am-nav-header">{% block cur %}{% endblock %}</li>
          {% block cur_nav %}{% endblock %}
          <li class="am-nav-header">导航</li>

          <li><a href="/api-server/meta-problems/?ordering=id">题元</a></li>
          <li><a href="/api-server/problems/?ordering=id">题目</a></li>
          <li><a href="/api-server/submissions/?ordering=-id">提交记录</a></li>

          {% if user.is_authenticated %}
          <li class="am-nav-header">{{ request.user }}</li>
          <li><a href="/api-server/logout">注销</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <a href="javascript:void(0)" data-target="#sidebar" class="am-btn am-btn-sm am-btn-success am-icon-bars am-show-sm-only my-button" data-am-offcanvas><span class="am-sr-only">侧栏导航</span></a>
</div>

<footer class="my-footer">
  <p>Online Judge Syetem<br><small>Shandong University of Science and Technology</small></p>
</footer>

<!--[if (gte IE 9)|!(IE)]><!-->
<script src='{% static "assets/js/jquery.min.js" %}'></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src='{% static "assets/js/amazeui.ie8polyfill.min.js"}'></script>
<![endif]-->
<script src='{% static "assets/jquery.min.js" %}'></script>
<script src='{% static "assets/js/amazeui.min.js" %}'></script>
<script>
          window.drf = {
            csrfCookieName: "{{ csrf_cookie_name|default:'csrftoken' }}"
          };
</script>
<script src="{% static "rest_framework/js/jquery-1.12.4.min.js" %}"></script>
<script src="{% static "rest_framework/js/ajax-form.js" %}"></script>
<script src="{% static "rest_framework/js/csrf.js" %}"></script>
<script src="{% static "rest_framework/js/bootstrap.min.js" %}"></script>
<script src="{% static "rest_framework/js/prettify-min.js" %}"></script>
<script src="{% static "rest_framework/js/default.js" %}"></script>
<script>
  $(document).ready(function() {
    $('form').ajaxForm();
  });
</script>
{% block script %}
{% endblock %}
</body>
</html>